{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa tehtävää</h1>
  <hr>
  {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  <form method="post" action="{{base_path}}/task/update">
    <input class="hidden" value="{{attributes.TaskKey}}" name="TaskKey">
    <div class="form-group">
      <label>Otsikko</label>
      <input class="form-control" value="{{attributes.TaskName}}" name="TaskName" type="text">
    </div>
    <div class="form-group">
      <label>Prioriteetti</label>
      <select name="PriorityClassKey" class="form-control">
        {% for pc in priorityclasses %}
        {% if attributes.PriorityClassKey==pc.PriorityClassKey %}
          <option value="{{pc.PriorityClassKey}}" selected>{{pc.PriorityClassName}}</option>  
        {% else %}
          <option value="{{pc.PriorityClassKey}}">{{pc.PriorityClassName}}</option>        
        {% endif %}
        {% endfor %}        
      </select>
    </div>

    <div class="form-group">
      <label>Luokat (voit valita useamman pitämällä ctrl- näppäintä pohjassa)</label>
      <select multiple name="TaskClassKey[]" class="form-control">
        {% for pc in taskclasses %}        
        {% if pc.TaskClassKey in attributes.TaskClasses %}          
          <option value="{{pc.TaskClassKey}}" selected>{{pc.TaskClassName}}</option>
          {% else %}        
         <option value="{{pc.TaskClassKey}}" >{{pc.TaskClassName}}</option>      
          {% endif %}
        {% endfor %}        
      </select>
    </div>
    <div class="form-group">
      <label>Kuvaus</label>
      <textarea class="form-control" name="TaskDescription">{{attributes.TaskDescription}}</textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success">Tallenna ja palaa listaan</button>  
      <a href="{{base_path}}/task" class="btn btn-danger">Palaa tallentamatta</a>
    </div>    
  </form>
{% endblock %}